<section class="container">
    <div class="row">
        <div class="col-12">
            <h2><%= task.projectName%></h2>
            <p><%= task.projectType%></p>
            <p class="lead"><%= task.projectDescription%></p>
            <p><%= task.personsInvolved%></p>
            <p><%= task.amountRequired %></p>
            <p><%= task.location %></p>
            <p><%= task.duration %></p>
            <p><%= task.from %></p>
            <p><%= task.to %></p>
            <p> Date written <%= task.date %></p>
        </div>
    </div>
</section>